<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Votação</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link" routerLink="/pautas">Pautas</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/associados">Associados</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/sessoes">Sessões</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/votacao">Votação</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/resultado">Resultado</a></li>
      </ul>
    </div>
  </div>
</nav>

<main class="container mt-5">
  <router-outlet></router-outlet>
</main>

<footer class="bg-dark text-white text-center p-3">
  <small>
    Feito com ☕ e ❤️ por 
    <a href="https://github.com/elisariane" target="_blank" class="text-light fw-bold text-decoration-none">
      Elisariane
    </a> 
    <a href="https://www.linkedin.com/in/elisarianebarbosa/" target="_blank" class="text-light ms-2">
      <i class="fab fa-linkedin"></i>
    </a>
  </small>
</footer>
