<app-alert
[message]="alertMessage"
[type]="alertType"
[duration]="3000">
</app-alert>    

<div class="container mt-5 d-flex justify-content-center">
    <div class="card p-4 shadow-sm" style="width: 100%; max-width: 500px;">
        <h2 class="text-center mb-4">Registre seu Voto</h2>

        <form #formVoto="ngForm" (ngSubmit)="registrarVoto()" novalidate>
            <!-- Sessão de Votação -->
            <div class="mb-3">
                <label class="form-label">Sessão de Votação</label>
                <select
                class="form-select"
                required
                [(ngModel)]="sessaoId"
                name="sessaoId"
                [disabled]="sessoesAtivas.length === 0">
                <option [ngValue]="null" disabled selected>
                    {{ sessoesAtivas.length === 0 ? 'Não existe sessões de votação ativas...' : 'Selecione uma sessão' }}
                </option>
                <option *ngFor="let s of sessoesAtivas" [value]="s.id">
                    {{ s.pauta?.titulo }}
                </option>
                </select>
            </div>

            <!-- Associado -->
            <div class="mb-3">
                <label class="form-label">Associado</label>
                <select
                class="form-select"
                required
                [(ngModel)]="associadoId"
                name="associadoId"
                [disabled]="associados.length === 0">
                <option [ngValue]="null" disabled selected>
                    {{ associados.length === 0 ? 'Nenhum associado cadastrado' : 'Selecione um associado' }}
                </option>
                <option *ngFor="let a of associados" [value]="a.id">{{ a.nome }}</option>
                </select>
            </div>

            <!-- Botões de Voto -->
            <div class="d-flex justify-content-between gap-2">
                <button
                    type="button"
                    class="btn"
                    [ngClass]="voto === 'SIM' ? 'btn-success' : 'btn-outline-success'"
                    (click)="setVoto('SIM')">
                    Sim
                </button>
                
                <button
                    type="button"
                    class="btn"
                    [ngClass]="voto === 'NAO' ? 'btn-danger' : 'btn-outline-danger'"
                    (click)="setVoto('NAO')">
                    Não
                </button>
            </div>
            <div class="text-center mt-4">
                <button
                type="submit"
                class="btn btn-primary w-100"
                [disabled]="!voto || !sessaoId || !associadoId">
                Confirmar Voto
                </button>
            </div>
        </form>
    </div>
</div>
